body {
  background-color: #202324;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

#app {
  width: 100%;
  height: 100%;
}

h3 {
  margin: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #045e9b;
  width: 32px;
  height: 32px;
  padding: 8px;
  border: 2px solid #303436;
  cursor: pointer;
  text-transform: uppercase;
}

button.small {
  width: 28px;
  height: 28px;
}

button.large {
  width: 50px;
  height: 50px;
  font-size: 32px;
}

button[disabled] {
  cursor: default;
  opacity: 1;
  color: #FFF;
}

button.action {
  width: auto;
  margin: auto;
  background: #049b2a;
}

.yellow {
  background: #ffbd00;
}

.red {
  background: #e7002a;
}

@media (min-width: 800px) {
  button, button.small {
    width: 50px;
    height: 50px;
    font-size: 32px;
  }
}