body {
  background-color: #202324;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

#app {
  width: 100%;
  height: 100%;
}

h3 {
  margin: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #045e9b;
  width: 28px;
  height: 28px;
  padding: 8px;
  border: 2px solid #303436;
  cursor: pointer;
}

button.large {
  width: 50px;
  height: 50px;
  font-size: 32px;
}